body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3JtNjA2ZGVzaWduLXJlbWl4LWJnLTEzLWEuanBn.webp") no-repeat center center/cover;
    background-color: pink;
    font-family: Arial, sans-serif;
}

.loader-container {
    width: 100%;
    max-width: 400px;
    height: 30px;
    background-color: #dcebdb;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.loader {
    border: 0.8em darkviolet;
    width: 0;
    height: 100%;
    background: linear-gradient(20deg, pink, purple, pink, purple, pink);
    animation: load 5s infinite;
    background-clip: border-box;
}

@keyframes load {
    0% { width: 0; }
    50% { width: 50%; }
    100% { width: 100%; }
}

button {
    align-self: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: solid 2px #000;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    box-shadow: #000;
}

button:active {
    transform: scale(0.95);
}

.heart {
    font-size: 50px;
    animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

img {
    align-self: center;
    align-items: center;
}